{% extends "base.html" %}
{% load static %}
 {% block content %}


    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-1-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>about us</h4>
              <h2>our company</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Driven by Trust, Powered by Value</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{% static 'assets/images/about-1-570x350.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Vroom Car Dealership</h4>
              <p>Welcome to Vroom, your trusted partner in the world of car sales and complete customer satisfaction. We are more than just a dealership — we are your gateway to a smooth and enjoyable car-buying experience. Whether you're a first-time buyer or upgrading to your dream ride, Vroom is here to make the process seamless from start to finish.

We understand that purchasing a vehicle is a significant decision. That’s why we offer a wide range of high-quality vehicles, including budget-friendly used cars, certified pre-owned options, and brand-new models from trusted manufacturers. From compact cars for city driving to family SUVs and rugged trucks, our inventory is tailored to meet every lifestyle and budget.

At Vroom, we believe buying a car should never be complicated or stressful. Our mission is to make the entire process transparent, honest, and efficient. From the moment you walk through our doors (or visit us online), you’ll be met by a team of knowledgeable and friendly professionals who are passionate about helping you find the right vehicle.

</p>
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Lorem ipsum dolor sit amet.</h2>
            </div>

            <h5>Lorem ipsum dolor sit amet.</h5>

            <p>We walk with you every step of the way — from exploring different makes and models, arranging test drives, providing expert advice, to offering flexible financing and payment plans that suit your needs. Even after the sale, our commitment continues with excellent after-sales support, including vehicle servicing, warranty options, and customer care.

Join the growing community of happy customers who have found more than just a car at </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quae eveniet tempora reprehenderit quo, necessitatibus vel sit laboriosam, sunt obcaecati quisquam explicabo voluptatibus earum facilis quidem fuga maiores. Quasi, obcaecati? <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, est officiis. Ipsam quas consequuntur adipisci quis, fuga pariatur eius eveniet qui similique nulla inventore accusantium, suscipit asperiores quibusdam culpa iure!</p>
          </div>
        </div>
      </div>
    </div>

    


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
  </body>

</html>
{% endblock %} 
